@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&family=Roboto&display=swap');

$background : #C4C4C4;
$mint: #15DEA5;
$white: #FFFFFF;
$grey: #4F5256;
$brown: #A07655;
//$purple: #7952B3;
$red: #CB0301;
$color2: #5D865C;
$color3: #E5C28D;
$color4: #F3C708;
$color5: #E05534;
$color6: #B4B671;
$purple: #6C5381;

$shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$bottom_shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

$radius: 5px;

.grey-font {
    color: $grey;
}

.white-font {
    color: $white;
}

.purple-bg {
    background-color: $purple;
}
.mint-bg {
    background-color: $mint;
}
.brown-bg {
    background-color: $brown;
}
.white-bg {
    background-color: $white;
}
.grey-bg {
    background-color: $grey;
}

.light-grey-bg {
    background-color: $background;
}

  body {
    //margin: 0;
    background-color: $background;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

.jumbotron {
    border-radius: 0 0 5px 5px;
    padding-top: 0;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:stretch;
}

h2,h3 {
    margin: 1em 0 1em 0;
    font-family: 'Pattaya', sans-serif;
}

hr {
    width: 25%;
    height: 5px;
    text-align: left;
    background-color: $purple;
    border: none;
    margin: 0px;
}

section {
    margin: 0 0 2em 0;
    background-color: $white;
    border-radius: 0 0 10px 10px;
    //height: 40em;
}

.subtitle {
    display: flex;
    flex-direction: column;
    //justify-content: left;
    align-items: left;
}
.icone {
    width: auto;
    height: 1em;
}

.logo {
    border-radius: $radius;
    margin-right: 0.5em;
}

form {
    border-radius: $radius;
    border: none;
    
}
.info_form {
    text-align: center;
    padding: 1em;
    #searchbar {
        width: 100%;
        padding: 0.5em;
        margin-bottom: 1em;
        &:hover {
            background-color: $background;
        }
    }

}
#product-img {
    height: 30%;
}

.product-card,.env-card {
    text-align: center;
    padding: 0.5em;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    border-radius: 10px;
    background-color: $background;
    margin-bottom: 0.5em;
    box-shadow: $shadow;
    .card-title {
        border-radius: 10px 10px 50% 0;
        background-color: $grey;
        box-shadow: $shadow;
        color: $white;
        padding: 0.5em;
    }
}

.env-card {
    //height: 18em;
    margin: 0.5em;
    width: auto;
    img {
        width: 4em;
        padding: 0.5em;
    }
    
}
.small-card {
    height: 10em;
    color: $white;
    img {
        width: 2em;
    }
}

.nutri-card {
    img {
        height: 2em;
        width: auto;
    }
    .card-title {
        text-align: center;
        color: $white;
        height: 6em;
        width: 100%;
        border-radius: 10px 0 50% 0;
        background-color: $grey;
        font-size: 0.5em;
        box-shadow: $shadow;
    }
    width: 5em;
    height: 7em;
    border-radius: 10px 0 10px 0;
}

.nutri-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/* =================== START PAGE ================== */
.body-start {
    background-image: url(./img/bg3.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: $white;
}

.start {
    margin-top: 15em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 2px 2px 2px #7952B3;
    background-color: rgba(20, 20, 20, 0.5);
    a {
        color: $white;
        text-decoration: none;
    }
    i {
        font-size: 10em;
    }
    .btn-start {
        background-color: $purple;
        border: none;
        &:hover {
            background-color: #7952b3ad;
        }
    }
    .footer-start {
        margin-top: 5em;
    }
}

